<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyESuDai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9635B6C91BCF4D0600BB5F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9635B6E51BCF4D0700BB5F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9635B6F01BCF4D0700BB5F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
